# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Python
venv/
backend/venv/
*.pyc
__pycache__/
backend/__pycache__/
backend/utils/__pycache__/

# Database
*.db
backend/*.db

# Environment variables
.env
frontend/.env
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
